<a href="https://colab.research.google.com/github/Mr-Archisman/randomQuoteGenerator/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 28 kB/s
Collecting py4j
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 39.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d9279f3bca65b4659f8b5c5cdc638393f0e1307b9140eeb6c20b5a422f4438f7
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [5]:
from pyspark.sql import SparkSession
spark = (SparkSession
 .builder
 .appName("<app_name>")
 .getOrCreate())

In [ ]:
spark

In [7]:
from zipfile import ZipFile
file_name = "ipl_dataset_2.zip"

with ZipFile(file_name,'r' ) as zip:
  zip.extractall()
  print ('done')

done

In [8]:
df = spark.read.csv('ipl_ball_by_ball.csv',header=True)
df1 = spark.read.csv('ipl_matches.csv',header=True)
df2 = spark.read.csv('ipl_venue.csv',header=True)

In [9]:
df.createOrReplaceTempView("balls")
spark.sql(
"""
select * from balls
"""
)

df1.createOrReplaceTempView("matches")
spark.sql(
"""
select * from matches
"""
)

df2.createOrReplaceTempView("venue")
spark.sql(
"""
select * from venue
"""
)

DataFrame[venue_id: string, venue: string, city: string]

In [ ]:
df.show(vertical=True)

In [32]:
df1.show(vertical=True)

-RECORD 0-------------------------------
 match_id        | 335982
 date            | 2008-04-18
 player_of_match | BB McCullum
 venue_id        | 35
 neutral_venue   | 0
 team1           | Royal Challengers...
 team2           | Kolkata Knight Ri...
 toss_winner     | Royal Challengers...
 toss_decision   | field
 winner          | Kolkata Knight Ri...
 result          | runs
 result_margin   | 140
 eliminator      | N
 method          | NA
 umpire1         | Asad Rauf
 umpire2         | RE Koertzen
-RECORD 1-------------------------------
 match_id        | 335983
 date            | 2008-04-19
 player_of_match | MEK Hussey
 venue_id        | 31
 neutral_venue   | 0
 team1           | Kings XI Punjab
 team2           | Chennai Super Kings
 toss_winner     | Chennai Super Kings
 toss_decision   | bat
 winner          | Chennai Super Kings
 result          | runs
 result_margin   | 33
 eliminator      | N
 method          | NA
 umpire1         | MR Benson
 umpire2         | SL Shastri
-RECORD 2-------------------------------
 match_id        | 335984
 date            | 2008-04-19
 player_of_match | MF Maharoof
 venue_id        | 27
 neutral_venue   | 0
 team1           | Delhi Daredevils
 team2           | Rajasthan Royals
 toss_winner     | Rajasthan Royals
 toss_decision   | bat
 winner          | Delhi Daredevils
 result          | wickets
 result_margin   | 9
 eliminator      | N
 method          | NA
 umpire1         | Aleem Dar
 umpire2         | GA Pratapkumar
-RECORD 3-------------------------------
 match_id        | 335985
 date            | 2008-04-20
 player_of_match | MV Boucher
 venue_id        | 14
 neutral_venue   | 0
 team1           | Mumbai Indians
 team2           | Royal Challengers...
 toss_winner     | Mumbai Indians
 toss_decision   | bat
 winner          | Royal Challengers...
 result          | wickets
 result_margin   | 5
 eliminator      | N
 method          | NA
 umpire1         | SJ Davis
 umpire2         | DJ Harper
-RECORD 4-------------------------------
 match_id        | 335986
 date            | 2008-04-20
 player_of_match | DJ Hussey
 venue_id        | 15
 neutral_venue   | 0
 team1           | Kolkata Knight Ri...
 team2           | Deccan Chargers
 toss_winner     | Deccan Chargers
 toss_decision   | bat
 winner          | Kolkata Knight Ri...
 result          | wickets
 result_margin   | 5
 eliminator      | N
 method          | NA
 umpire1         | BF Bowden
 umpire2         | K Hariharan
-RECORD 5-------------------------------
 match_id        | 335987
 date            | 2008-04-21
 player_of_match | SR Watson
 venue_id        | 20
 neutral_venue   | 0
 team1           | Rajasthan Royals
 team2           | Kings XI Punjab
 toss_winner     | Kings XI Punjab
 toss_decision   | bat
 winner          | Rajasthan Royals
 result          | wickets
 result_margin   | 6
 eliminator      | N
 method          | NA
 umpire1         | Aleem Dar
 umpire2         | RB Tiffin
-RECORD 6-------------------------------
 match_id        | 335988
 date            | 2008-04-22
 player_of_match | V Sehwag
 venue_id        | 22
 neutral_venue   | 0
 team1           | Deccan Chargers
 team2           | Delhi Daredevils
 toss_winner     | Deccan Chargers
 toss_decision   | bat
 winner          | Delhi Daredevils
 result          | wickets
 result_margin   | 9
 eliminator      | N
 method          | NA
 umpire1         | IL Howell
 umpire2         | AM Saheba
-RECORD 7-------------------------------
 match_id        | 335989
 date            | 2008-04-23
 player_of_match | ML Hayden
 venue_id        | 29
 neutral_venue   | 0
 team1           | Chennai Super Kings
 team2           | Mumbai Indians
 toss_winner     | Mumbai Indians
 toss_decision   | field
 winner          | Chennai Super Kings
 result          | runs
 result_margin   | 6
 eliminator      | N
 method          | NA
 umpire1         | DJ Harper
 umpire2         | GA Pratapkumar
-RECORD 8-------------------------------
 match_id        | 335990
 date            | 2008-04-24
 player_of_match | YK Pathan
 venue_id        | 22
 neutral_venue   | 0
 team1           | Deccan Chargers
 team2           | Rajasthan Royals
 toss_winner     | Rajasthan Royals
 toss_decision   | field
 winner          | Rajasthan Royals
 result          | wickets
 result_margin   | 3
 eliminator      | N
 method          | NA
 umpire1         | Asad Rauf
 umpire2         | MR Benson
-RECORD 9-------------------------------
 match_id        | 335991
 date            | 2008-04-25
 player_of_match | KC Sangakkara
 venue_id        | 31
 neutral_venue   | 0
 team1           | Kings XI Punjab
 team2           | Mumbai Indians
 toss_winner     | Mumbai Indians
 toss_decision   | field
 winner          | Kings XI Punjab
 result          | runs
 result_margin   | 66
 eliminator      | N
 method          | NA
 umpire1         | Aleem Dar
 umpire2         | AM Saheba
-RECORD 10------------------------------
 match_id        | 335992
 date            | 2008-04-26
 player_of_match | SR Watson
 venue_id        | 35
 neutral_venue   | 0
 team1           | Royal Challengers...
 team2           | Rajasthan Royals
 toss_winner     | Rajasthan Royals
 toss_decision   | field
 winner          | Rajasthan Royals
 result          | wickets
 result_margin   | 7
 eliminator      | N
 method          | NA
 umpire1         | MR Benson
 umpire2         | IL Howell
-RECORD 11------------------------------
 match_id        | 335993
 date            | 2008-04-26
 player_of_match | JDP Oram
 venue_id        | 29
 neutral_venue   | 0
 team1           | Chennai Super Kings
 team2           | Kolkata Knight Ri...
 toss_winner     | Kolkata Knight Ri...
 toss_decision   | bat
 winner          | Chennai Super Kings
 result          | wickets
 result_margin   | 9
 eliminator      | N
 method          | NA
 umpire1         | BF Bowden
 umpire2         | AV Jayaprakash
-RECORD 12------------------------------
 match_id        | 335994
 date            | 2008-04-27
 player_of_match | AC Gilchrist
 venue_id        | 13
 neutral_venue   | 0
 team1           | Mumbai Indians
 team2           | Deccan Chargers
 toss_winner     | Deccan Chargers
 toss_decision   | field
 winner          | Deccan Chargers
 result          | wickets
 result_margin   | 10
 eliminator      | N
 method          | NA
 umpire1         | Asad Rauf
 umpire2         | SL Shastri
-RECORD 13------------------------------
 match_id        | 335995
 date            | 2008-04-27
 player_of_match | SM Katich
 venue_id        | 31
 neutral_venue   | 0
 team1           | Kings XI Punjab
 team2           | Delhi Daredevils
 toss_winner     | Delhi Daredevils
 toss_decision   | bat
 winner          | Kings XI Punjab
 result          | wickets
 result_margin   | 4
 eliminator      | N
 method          | NA
 umpire1         | RE Koertzen
 umpire2         | I Shivram
-RECORD 14------------------------------
 match_id        | 335996
 date            | 2008-04-28
 player_of_match | MS Dhoni
 venue_id        | 35
 neutral_venue   | 0
 team1           | Royal Challengers...
 team2           | Chennai Super Kings
 toss_winner     | Chennai Super Kings
 toss_decision   | bat
 winner          | Chennai Super Kings
 result          | runs
 result_margin   | 13
 eliminator      | N
 method          | NA
 umpire1         | BR Doctrove
 umpire2         | RB Tiffin
-RECORD 15------------------------------
 match_id        | 335997
 date            | 2008-04-29
 player_of_match | ST Jayasuriya
 venue_id        | 15
 neutral_venue   | 0
 team1           | Kolkata Knight Ri...
 team2           | Mumbai Indians
 toss_winner     | Kolkata Knight Ri...
 toss_decision   | bat
 winner          | Mumbai Indians
 result          | wickets
 result_margin   | 7
 eliminator      | N
 method          | NA
 umpire1         | BF Bowden
 umpire2         | AV Jayaprakash
-RECORD 16------------------------------
 match_id        | 335998
 date            | 2008-04-30
 player_of_match | GD McGrath
 venue_id        | 27
 neutral_venue   | 0
 team1           | Delhi Daredevils
 team2           | Royal Challengers...
 toss_winner     | Royal Challengers...
 toss_decision   | field
 winner          | Delhi Daredevils
 result          | runs
 result_margin   | 10
 eliminator      | N
 method          | NA
 umpire1         | Aleem Dar
 umpire2         | I Shivram
-RECORD 17------------------------------
 match_id        | 335999
 date            | 2008-05-01
 player_of_match | SE Marsh
 venue_id        | 22
 neutral_venue   | 0
 team1           | Deccan Chargers
 team2           | Kings XI Punjab
 toss_winner     | Kings XI Punjab
 toss_decision   | field
 winner          | Kings XI Punjab
 result          | wickets
 result_margin   | 7
 eliminator      | N
 method          | NA
 umpire1         | BR Doctrove
 umpire2         | RB Tiffin
-RECORD 18------------------------------
 match_id        | 336000
 date            | 2008-05-01
 player_of_match | SA Asnodkar
 venue_id        | 20
 neutral_venue   | 0
 team1           | Rajasthan Royals
 team2           | Kolkata Knight Ri...
 toss_winner     | Rajasthan Royals
 toss_decision   | bat
 winner          | Rajasthan Royals
 result          | runs
 result_margin   | 45
 eliminator      | N
 method          | NA
 umpire1         | RE Koertzen
 umpire2         | GA Pratapkumar
-RECORD 19------------------------------
 match_id        | 336001
 date            | 2008-05-02
 player_of_match | V Sehwag
 venue_id        | 29
 neutral_venue   | 0
 team1           | Chennai Super Kings
 team2           | Delhi Daredevils
 toss_winner     | Chennai Super Kings
 toss_decision   | bat
 winner          | Delhi Daredevils
 result          | wickets
 result_margin   | 8
 eliminator      | N
 method          | NA
 umpire1         | BF Bowden
 umpire2         | K Hariharan
only showing top 20 rows

In [31]:
df2.show()

+--------+--------------------+--------------+
|venue_id|               venue|          city|
+--------+--------------------+--------------+
|       1|Dr. Y.S. Rajasekh...| Visakhapatnam|
|       2|Sharjah Cricket S...|       Sharjah|
|       3|JSCA Internationa...|        Ranchi|
|       4|Saurashtra Cricke...|        Rajkot|
|       5|Shaheed Veer Nara...|        Raipur|
|       6|Maharashtra Crick...|          Pune|
|       7|Subrata Roy Sahar...|          Pune|
|       8|    St George's Park|Port Elizabeth|
|       9|Vidarbha Cricket ...|        Nagpur|
|      12|   Brabourne Stadium|        Mumbai|
|      13|Dr DY Patil Sport...|        Mumbai|
|      14|    Wankhede Stadium|        Mumbai|
|      15|        Eden Gardens|       Kolkata|
|      16|       Nehru Stadium|         Kochi|
|      17|De Beers Diamond ...|     Kimberley|
|      18|          Green Park|        Kanpur|
|      19|New Wanderers Sta...|  Johannesburg|
|      20|Sawai Mansingh St...|        Jaipur|
|      21|Holkar Cricket St...|        Indore|
|      22|Rajiv Gandhi Inte...|     Hyderabad|
+--------+--------------------+--------------+
only showing top 20 rows

In [14]:
from pyspark.sql.types import IntegerType
df = df.withColumn("is_wicket", df["is_wicket"].cast(IntegerType()))
df = df.withColumn("batsman_runs", df["batsman_runs"].cast(IntegerType()))
df = df.withColumn("extra_runs", df["extra_runs"].cast(IntegerType()))
df = df.withColumn("total_runs", df["total_runs"].cast(IntegerType()))

In [ ]:
df.summary().show(vertical=True)

In [16]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show(vertical=True)

-RECORD 0---------------
 match_id         | 0
 inning           | 0
 overs            | 0
 ball             | 0
 batsman          | 0
 non_striker      | 0
 bowler           | 0
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | 0
 player_dismissed | 0
 fielder          | 0
 extras_type      | 0
 batting_team     | 0
 bowling_team     | 0

In [17]:
from pyspark.sql.functions import isnan, when, count, col
df1.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df1.columns]).show(vertical=True)

-RECORD 0--------------
 match_id        | 0
 date            | 0
 player_of_match | 0
 venue_id        | 0
 neutral_venue   | 0
 team1           | 0
 team2           | 0
 toss_winner     | 0
 toss_decision   | 0
 winner          | 0
 result          | 0
 result_margin   | 0
 eliminator      | 0
 method          | 0
 umpire1         | 0
 umpire2         | 0

q1

In [44]:
spark.sql(
"""
select c.venue,count(*) AS Number_of_Sixes from balls a 
inner join matches b on a.match_id=b.match_id
inner join venue c on b.venue_id=c.venue_id
where b.eliminator = 1
group by c.venue
order by Number_of_Sixes desc;
""").show(5)

+-----+---------------+
|venue|Number_of_Sixes|
+-----+---------------+
+-----+---------------+

q2

In [19]:
caught=df.filter(df. dismissal_kind =='caught')
caught.groupBy('fielder').count().sort('count',ascending=False).show(10)

+--------------+-----+
|       fielder|count|
+--------------+-----+
|    KD Karthik|  118|
|      MS Dhoni|  113|
|AB de Villiers|  103|
|      SK Raina|   99|
|     RG Sharma|   88|
|    RV Uthappa|   87|
|    KA Pollard|   84|
|       V Kohli|   76|
|      S Dhawan|   73|
|     MK Pandey|   70|
+--------------+-----+
only showing top 10 rows

q3

In [21]:
merged=df.join(df1,on='match_id')
DL=merged[merged['method']=='D/L']
sum1=DL.groupBy(['match_id','bowler']).sum('is_wicket')

In [22]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank
from pyspark.sql.functions import col


window = Window.partitionBy('match_id').orderBy(col('sum(is_wicket)').desc())
res_4=sum1.withColumn('rank',rank().over(window))
res_4.filter(res_4.rank==1).show()

+--------+----------------+--------------+----+
|match_id|          bowler|sum(is_wicket)|rank|
+--------+----------------+--------------+----+
| 1082648| NM Coulter-Nile|             3|   1|
| 1136566|        S Nadeem|             3|   1|
| 1136578|          AJ Tye|             2|   1|
| 1136578|Mujeeb Ur Rahman|             2|   1|
| 1136578|         BB Sran|             2|   1|
| 1136592|        TA Boult|             3|   1|
| 1136592|      JD Unadkat|             3|   1|
|  336022|        RR Powar|             2|   1|
|  336022|        JR Hopes|             2|   1|
|  336025|         M Ntini|             4|   1|
|  392183|      DL Vettori|             5|   1|
|  392186|      SC Ganguly|             2|   1|
|  392214|        L Balaji|             1|   1|
|  392214|       SB Jakati|             1|   1|
|  392214|       PP Chawla|             1|   1|
|  392214|       JA Morkel|             1|   1|
|  392214|     S Sreesanth|             1|   1|
|  392214|       IK Pathan|             1|   1|
|  501215|        R Ashwin|             2|   1|
|  501215|     NLTC Perera|             2|   1|
+--------+----------------+--------------+----+
only showing top 20 rows

q4

In [24]:
legal=df[(~df['extras_type'].isin(['wides', 'noballs'])) & (df['overs'].between(6,19)) ]#filtering out wides and no balls, and taking  only powerplay overs(7-20) 
runs=legal.groupBy('batsman').sum('batsman_runs')#finding out total runs by each batsman
ball=legal.groupby('batsman').count()#finding out total balls faced by each batsman
balls=ball.withColumnRenamed("batsman","batsman_1")
joined=balls.join(runs, balls.batsman_1 == runs.batsman, 'inner')#In pandas we could  just do strike_rate=runs*100/balls and we could get strike rate. We can't do same in pyspark , so first I will join the two result set and then find the strike rate
result_4=joined.withColumn("Strike rate", col("sum(batsman_runs)")*100/col("count")).sort('Strike rate',ascending=False)#Dividing the two columns and getting the strike rate the hard way.
result_4.select('batsman','Strike rate').show(10)#Top 10 batsman with highest strike in powerplay

+------------+------------------+
|     batsman|       Strike rate|
+------------+------------------+
|  B Stanlake|             250.0|
|  ER Dwivedi|211.11111111111111|
|Kamran Akmal| 208.1081081081081|
|    Umar Gul|205.26315789473685|
|    RS Sodhi|             200.0|
|   LJ Wright|184.31372549019608|
|  AD Russell| 182.1078431372549|
|Vishnu Vinod|             180.0|
|  I Malhotra|             175.0|
|    V Sehwag|             175.0|
+------------+------------------+
only showing top 10 rows

q5

In [30]:
spark.sql(
"""
select c.venue,count(*) AS Number_of_Extras from balls a 
inner join matches b on a.match_id=b.match_id
inner join venue c on b.venue_id=c.venue_id
where a.extra_runs = 1 or  a.extra_runs = 2 or a.extra_runs = 3 or  a.extra_runs = 4 or  a.extra_runs = 5 or  a.extra_runs = 6 or  a.extra_runs = 7 or  a.extra_runs = 8

group by c.venue
order by  Number_of_Extras  desc;
""").show()

+--------------------+----------------+
|               venue|Number_of_Extras|
+--------------------+----------------+
|M.Chinnaswamy Sta...|            1092|
|    Wankhede Stadium|            1017|
|        Eden Gardens|             915|
|    Feroz Shah Kotla|             897|
|Rajiv Gandhi Inte...|             740|
|MA Chidambaram St...|             705|
|Sawai Mansingh St...|             609|
|Punjab Cricket As...|             441|
|Dubai Internation...|             392|
|Sheikh Zayed Stadium|             325|
|Maharashtra Crick...|             276|
|Dr DY Patil Sport...|             246|
|Punjab Cricket As...|             227|
|Sharjah Cricket S...|             222|
|           Kingsmead|             205|
|   Brabourne Stadium|             185|
|Subrata Roy Sahar...|             180|
|     SuperSport Park|             169|
|Sardar Patel Stad...|             150|
|Dr. Y.S. Rajasekh...|             135|
+--------------------+----------------+
only showing top 20 rows

q6

In [33]:
spark.sql(
"""
select player_of_match,count(player_of_match) from matches
where neutral_venue = 1
group by player_of_match
order by count(player_of_match) desc 
""").show()

+----------------+----------------------+
| player_of_match|count(player_of_match)|
+----------------+----------------------+
|       JH Kallis|                     3|
|       JP Duminy|                     3|
|       YK Pathan|                     3|
|      GJ Maxwell|                     3|
|        DR Smith|                     2|
|   KC Sangakkara|                     2|
|       MK Pandey|                     2|
|       RG Sharma|                     2|
|  Sandeep Sharma|                     2|
|DPMD Jayawardene|                     2|
|  M Muralitharan|                     2|
|     LRPL Taylor|                     2|
|        SK Raina|                     2|
|    Yuvraj Singh|                     2|
|       ML Hayden|                     2|
|    SR Tendulkar|                     2|
|    AC Gilchrist|                     2|
|  AB de Villiers|                     2|
|      TM Dilshan|                     1|
|           B Lee|                     1|
+----------------+----------------------+
only showing top 20 rows

q7

In [34]:
player_dismissed=df.groupby('player_dismissed').count()#Counting number of times a player is dismissed
total_runs=df.groupBy('batsman').sum('batsman_runs')
joined_data=player_dismissed.join(total_runs, player_dismissed.player_dismissed == total_runs.batsman, 'inner')
result_7=joined_data.withColumn("Batsmen Avg", col("sum(batsman_runs)")/col("count")).sort('Batsmen Avg',ascending=False)#Dividing runs by number of times they have been dismissed
result_7.select('batsman','Batsmen Avg').show(10)

+-------------+------------------+
|      batsman|       Batsmen Avg|
+-------------+------------------+
|   MN van Wyk|55.666666666666664|
|   RD Gaikwad|              51.0|
|     AC Voges|             45.25|
|     KL Rahul| 44.86440677966102|
|      HM Amla| 44.38461538461539|
|Iqbal Abdulla|              44.0|
|    DA Warner| 42.71544715447155|
|  JM Bairstow|41.578947368421055|
|     CH Gayle| 41.13793103448276|
|     MS Dhoni|40.991150442477874|
+-------------+------------------+
only showing top 10 rows

q8

In [35]:
spark.sql(
"""
select umpire, count(*)
from ((select umpire1 as umpire from matches) union all
      (select umpire2 from matches)
     ) matches
group by umpire
order by count(*) desc ;
""").show()
#Combing two similar columns by union and counting numbers on times they have officiated

+--------------------+--------+
|              umpire|count(1)|
+--------------------+--------+
|              S Ravi|     121|
|     HDPK Dharmasena|      94|
|        AK Chaudhary|      87|
|       C Shamshuddin|      82|
|           M Erasmus|      65|
|         Nitin Menon|      57|
|           CK Nandan|      57|
|          SJA Taufel|      55|
|           Asad Rauf|      51|
|         VA Kulkarni|      50|
|        BNJ Oxenford|      48|
|         CB Gaffaney|      47|
|           RJ Tucker|      46|
|         BR Doctrove|      42|
|         RE Koertzen|      41|
|           Aleem Dar|      38|
|            NJ Llong|      37|
|           BF Bowden|      37|
|KN Ananthapadmana...|      33|
|      RK Illingworth|      31|
+--------------------+--------+
only showing top 20 rows

q9

In [36]:
spark.sql(
"""
select m.match_id,first(v.venue),first(v.city),sum(b.batsman_runs) from balls as b
inner join matches as m on b.match_id=m.match_id
inner join venue as v on m.venue_id =v.venue_id
where b.batsman= 'V Kohli'
group by m.match_id
order by sum(b.batsman_runs) desc limit 1; 
""").show()
#First filtering in matches in which batsman is kohli,grouping by each match and finding total runs by each match and returning them in descending order and limit by 1

+--------+--------------------+-----------+-----------------+
|match_id|        first(venue)|first(city)|sum(batsman_runs)|
+--------+--------------------+-----------+-----------------+
|  980999|M.Chinnaswamy Sta...|  Bengaluru|            113.0|
+--------+--------------------+-----------+-----------------+

q10- We can clearly see that  Mumbai Indians ,Kolkata Knight Riders and Chennai Super Kings won the most number of tosses.Also these 3 teams collectivelty won 11 out of 14 tournaments (2021 included)   . Thus we can conclude that winning tosses does have significant advantages.

In [37]:
spark.sql(
"""
select toss_winner,count(toss_winner) from matches
group by toss_winner
order by count(toss_winner) desc 
""").show()

+--------------------+------------------+
|         toss_winner|count(toss_winner)|
+--------------------+------------------+
|      Mumbai Indians|               106|
|Kolkata Knight Ri...|                98|
| Chennai Super Kings|                97|
|Royal Challengers...|                87|
|    Rajasthan Royals|                87|
|     Kings XI Punjab|                85|
|    Delhi Daredevils|                80|
| Sunrisers Hyderabad|                57|
|     Deccan Chargers|                43|
|      Delhi Capitals|                20|
|       Pune Warriors|                20|
|       Gujarat Lions|                15|
|Kochi Tuskers Kerala|                 8|
|Rising Pune Super...|                 7|
|Rising Pune Super...|                 6|
+--------------------+------------------+